---
http_interactions:
- request:
    method: get
    uri: https://www.bullionvault.com/view_market_xml.do
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en
      Etag:
      - W/"0ee08539e75181470ce5ea9b2a17716ac"
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\"?>\n\n\n\n\n\n<envelope>\n\t<message type=\"MARKET_DEPTH_A\"
        version=\"0.1\">\n\t\t<market>\n\t\t\t<pitches>\n\t\t\t\t\n\t\t\t\t\t<pitch\n\t\t\t\t\t\tsecurityClassNarrative=\"GOLD\"\n\t\t\t\t\t\tsecurityId=\"AUXZU\"\n\t\t\t\t\t\tconsiderationCurrency=\"USD\"\n\t\t\t\t\t>\n\t\t\t\t\t\t<buyPrices>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t<price\n\t\t\t\t\t\t\t\t\tactionIndicator=\"B\"\n\t\t\t\t\t\t\t\t\tquantity=\"0.186\"\n\t\t\t\t\t\t\t\t\tlimit=\"152630\"\n\t\t\t\t\t\t\t\t/>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t</buyPrices>\n\n\t\t\t\t\t\t<sellPrices>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t<price\n\t\t\t\t\t\t\t\t\tactionIndicator=\"S\"\n\t\t\t\t\t\t\t\t\tquantity=\"0.025\"\n\t\t\t\t\t\t\t\t\tlimit=\"152940\"\n\t\t\t\t\t\t\t\t/>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t</sellPrices>\n\t\t\t\t\t</pitch>\n\t\t\t\t\n\t\t\t\t\t<pitch\n\t\t\t\t\t\tsecurityClassNarrative=\"GOLD\"\n\t\t\t\t\t\tsecurityId=\"AUXZU\"\n\t\t\t\t\t\tconsiderationCurrency=\"GBP\"\n\t\t\t\t\t>\n\t\t\t\t\t\t<buyPrices>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t<price\n\t\t\t\t\t\t\t\t\tactionIndicato[...]
