---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/BTC-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Cache-Control:
      - public, max-age=60
      Grpc-Metadata-Content-Type:
      - application/grpc
      Grpc-Metadata-Vary:
      - Accept-Language
      Trace-Id:
      - '2663611575583001505'
      Last-Modified:
      - Tue, 20 Jan 2026 17:39:23 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"amount":"89747.995","base":"BTC","currency":"USD"}}'
  recorded_at: Tue, 20 Jan 2026 17:39:26 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/BTC-EUR/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Cache-Control:
      - public, max-age=60
      Grpc-Metadata-Content-Type:
      - application/grpc
      Grpc-Metadata-Vary:
      - Accept-Language
      Trace-Id:
      - '2313514030916151291'
      Last-Modified:
      - Tue, 20 Jan 2026 17:39:27 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"amount":"76548.97","base":"BTC","currency":"EUR"}}'
  recorded_at: Tue, 20 Jan 2026 17:39:28 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/ETH-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Cache-Control:
      - public, max-age=60
      Grpc-Metadata-Content-Type:
      - application/grpc
      Grpc-Metadata-Vary:
      - Accept-Language
      Trace-Id:
      - '3987944504016922898'
      Last-Modified:
      - Tue, 20 Jan 2026 17:39:28 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"amount":"2993.495","base":"ETH","currency":"USD"}}'
  recorded_at: Tue, 20 Jan 2026 17:39:29 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/ETH-EUR/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Metadata-Cache-Control:
      - public, max-age=60
      Grpc-Metadata-Content-Type:
      - application/grpc
      Grpc-Metadata-Vary:
      - Accept-Language
      Trace-Id:
      - '5651000566332630356'
      Last-Modified:
      - Tue, 20 Jan 2026 17:39:29 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"amount":"2551.305","base":"ETH","currency":"EUR"}}'
  recorded_at: Tue, 20 Jan 2026 17:39:31 GMT
recorded_with: VCR 6.3.1
